<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title> Pomodoro Clock by Saif Shienes</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<h1>Saif Shines</h1>
<main ng-app="PomodoroApp" ng-controller="MainCtrl">
  <header>
    <div class="session">
      <div class="breakCtrl">
        <p>break length</p>
        <button class="minus" ng-click="breakLengthChange(-1)">-</button><span class="time">{{breakLength}}</span>
        <button class="plus" ng-click="breakLengthChange(1)">+</button>
      </div>
      <div class="sessionCtrl">
        <p>session length</p>
        <button class="minus" ng-click="sessionLengthChange(-1)">-</button><span class="time">{{sessionLength}}</span>
        <button class="plus" ng-click="sessionLengthChange(1)">+</button>
      </div>
    </div>
  </header>
  <section ng-click="toggleTimer()">
    <div class="timer">
      <p class="title">{{sessionName}}</p>
      <p>{{timeLeft}}</p><span class="fill" ng-style="{'height':fillHeight, 'background':fillColor }"></span>
    </div>
  </section>
</main>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
